<!DOCTYPE html>
{% extends 'MiApp/baseweb.html'%}

{% load static %}

{% block titulo%} Sobre mi {%endblock titulo%}

{% block main %}
<!-- About Section-->
    <section class="page-section bg-primary text-black mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
       <div class="divider-custom-line"></div>
   </div>
<div class="card">
    <div class="card-body" style="width: 40rem; margin:0 auto;">
        <p>¡Hola! Soy Yesica Colman y quiero presentarte mi proyecto final: un blog de viajes. </p><br>
        
        <p>Aquí encontrarás datos, guías y todo tipo de información relacionada con los viajes en general.</p><br>

        <p>En este momento, me encuentro lejos de Argentina residiendo en España. A pesar de la diferencia horaria, he logrado aprovechar al máximo esta experiencia de aprendizaje.</p> <br>
        
        <p>El blog aún tiene muchas oportunidades de mejora, pero estoy comprometida a seguir trabajando en él con tiempo y dedicación para poder aplicar todo lo que he aprendido y brindarte un contenido de calidad.</p><br>
        
        <p>Muy agradecida con la cursada, los profesores y tutores! </p> <br>
        
        ¡Muchas gracias!

    </div>
  </div>

{% endblock main %}