<!DOCTYPE html>
{% extends 'MiApp/baseweb.html'%}

{% load static %}

{% block titulo%} AGREGAR GUIA DE VIAJE {%endblock titulo%}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Titulo:</td>
            <td>{{ guia.titulo }}</td>
        </tr>
        <tr>
            <td>Subtitulo:</td>
            <td>{{ guia.subtitulo }}</td>
        </tr>
        <tr>
            <td>Destino:</td>
            <td>{{ guia.destino }}</td>
        </tr>
        <tr>
            <td>Pais:</td>
            <td>{{ guia.pais }}</td>
        </tr>
        <tr>
            <td>Foto:</td>
            <td>{{ guia.foto }}</td>
        </tr>
        <tr>
            <td>Contenido:</td>
            <td>{{ guia.contenido }}</td>
        </tr>
    </table>

    <input type="submit" value="ENVIAR GUIA">
    
</form>

{% endblock main %}